.icon {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
}

.icon.spin {
  animation: icon-spin 1s linear infinite;
}

@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
